#app {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#map {
    flex-grow: 1; /* Make the map fill the rest of the window */
}

.addBerryButton {
    background-color: #fff;
    border: 2px solid #fff;
    cursor: pointer;
    margin-top: 11px;
    margin-right: 11px;
    text-align: center;
}

.addBerryText {
    color: rgb(25,25,25);
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 38px;
    padding-left: 5px;
    padding-right: 5px;
    user-select: none; /* Disable text selection on the button */
}

.infoWindow {
    margin: 5px;
}

html, body {
    height: 100%;
    /*margin: 0;
    padding: 0;*/
    overscroll-behavior: none; /* Disable pull to refresh on Chrome */
}